
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage404</title>
    <link href="/Images/logo.ico" rel="icon" type="image/png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <meta http-equiv="Refresh" content="5;url=/Home/Index/" />
</head>
<body>
   
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img src="~/Images/fm.jpg" class="img-circle" width="400" height="400" />
                <h1 class="btn btn-primary">Yanlış Link Denemesi Yaptınız...Anasayfaya Yönlendiriliyorsunuz...</h1>
            </div>
       </div>
</body>
</html>
